/* Global Search Stylesheet */
html {
  width: 350px;
  height: 110px;
  font-family: "arial";
}
body {
  width: 350px;
  height: 110px;
  font-family: "arial";
  font-size: 16px;
}
#search_form {
  margin-top: 15px;
  margin-bottom: 20px;
}
#footer {
  color: gray;
  font-size: 10px;
}
#result_box {
  font-size: 14px;
}
.suggestList {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  border: 2px whitesmoke solid;
  border-radius: 2px;
  padding: 5px;
 
}
img {
  vertical-align: middle;
}
