/* Global Search Stylesheet */
html
{
width:350px;
height:110px;
font-family:"arial";
}
body
{
width:350px;
height:110px;
font-family:"arial";
font-size: 14px;
}
#cont
{
   margin-top: 15px;
   margin-bottom: 20px;
}
#div1,#div2
{
color:gray;
}
#div1
{
    font-size:15px;
    font-weight:bold;
    color:green;
}
#div2
{
font-size:10px;
}
.suggestList {
    font-size:10px;
}
img
{
    vertical-align:middle
}